/*
 *  Main design
 */

.item-cover {
  text-align: center;
}

img.cover {
  max-height: 200px;
}

img {
  max-height: 300px;
}

.items a {
  text-decoration: none;
}

.items h1 {
  font-size: 1.5em;
}
.items-list h1 {
  font-size: 1.8em;
}
.items h2 {
  font-size: 1.5em;
}

.list-empty {
  text-align: center;
}

.row {
  margin: 2em 0;
  padding: 0.5em;
}

.property-label {
  display: inline;
  margin-right: 0.5em;
  vertical-align: top;
}

.property-value {
  display: inline-block;
  margin-right: 0.5em;
}

.property-filter {
  margin-left: 0.2em;
}

.gallery img {
  margin: 1em 0.2em;
  max-height: 80px;
}

.error {
  text-align: center;
}
