/*
 *  Main design
 */

body {
  font-size: 18px;
}

.item-cover {
  text-align: center;
}

img.cover {
  max-height: 200px;
}

img {
  max-height: 300px;
}

a {
  color: black;
  text-decoration: none;
}

.items h1 {
  font-size: 1.3em;
}
.items-list h1 {
  font-size: 1.8em;
}
.items h2 {
  font-size: 1.5em;
}

.list-empty {
  text-align: center;
}

.row {
  margin: 2em 0;
  padding: 0.5em;
}

.property-label {
  display: inline;
  margin-right: 0.5em;
  vertical-align: top;
}

.property-value {
  display: inline-block;
  margin-right: 0.5em;
}

.property-filter {
  margin-left: 0.2em;
}

.gallery img {
  margin: 1em 0.2em;
  max-height: 80px;
}

.error {
  text-align: center;
}

/*
 *  Top menu bar
 */
.nav-item .dropdown-menu {
  /* force selector to display */
  display: block;
}

/*
 * Collection page
 */
.navbar-toggler {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    display: block;
  }
}

.items-shop .item {
  text-align: center;
}

/*
 *  Item page
 */
.item-actions {
  margin-bottom: 10px;
}

.item-actions a {
  margin-right: 10px;
}

.item-copies li {
  margin-left: 10px;
}

/*
 *  Item properties view
 */

.property-color-view {
  display: block;
  border-radius: 100%;
  font-size: 1.6em;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  box-shadow: 0 0 0 1px #dee0e3;
  cursor: default;
}

.property-rating-view {
  color: #ffc400;
}
.property-rating-view .rating {
  font-weight: bold;
  margin-left: 10px;
}

.property-yesno-view {
  font-size: 1.6em;
}
.property-yesno-view-yes {
  color: #008000;
}
.property-yesno-view-no {
  color: #c00000;
}

.property-filter {
  margin-left: 10px;
}

/*
 * Delete confirmation
 */
.delete-confirm {
  text-align: center;
  margin-top: 100px;
}