/*
 *  Main design
 */

body {
  font-size: 18px;
}

.item-cover {
  text-align: center;
}

img.cover {
  max-height: 200px;
}

img {
  max-height: 300px;
}

a {
  color: black;
  text-decoration: none;
}

.items h1 {
  font-size: 1.2em;
}
.items-list h1 {
  font-size: 1.5em;
}
.items h2 {
  font-size: 1.3em;
}

.list-empty {
  text-align: center;
}

.row {
  margin: 2em 0;
  padding: 0.5em;
}

.error {
  text-align: center;
}

/*
 *  Top menu bar
 */
.nav-item .dropdown-menu {
  /* force selector to display */
  display: block;
}

/*
 *  Navbar
 */
.navbar-toggler {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    display: block;
  }
}

#sidebarMenu h4 {
  font-size: 1.2em;
}
